# Prerequisites
*.d
*config.*
*/missing
*/autom4te.cache/*
*/autom4te.cache
*/depcomp
*/install-sh
*/ltmain.sh


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pdf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*~

# Executables
*.exe
*.out
*.app

*.root
*.prdf
*.list